/*STORT OCH GENERELLT*/
*{
    margin:0;
    padding:0;
}
html{
    overflow:hidden;
    font-family: 'EB Garamond', serif;
}
body{
    background-color: rgba(53, 52, 52);
    font-size: 1.8vw;
}
.huvudInnehåll::-webkit-scrollbar{
    width:1rem;
}
.huvudInnehåll::-webkit-scrollbar-track{
    background: rgb(40,40,40);
}
.huvudInnehåll::-webkit-scrollbar-thumb{
    background: white;
    border-radius:0.1rem;
}
.huvudInnehåll{
    background-color: rgba(53, 52, 52);
    perspective:1px;
    transform-style:preserve-3d;
    overflow-y: auto;
    overflow-x: hidden;
    width:100vw;
    height:100vh;
    position:relative;
}
h1, h2, h3{
    font-family: 'Bebas Neue', cursive;
}
.background{
    overflow: hidden;
    z-index:-1;
    width:100%;
    position:absolute;
    transform-style:preserve-3d;
    transform: translateZ(-1px) scale(2);
    box-sizing: border-box;
    vertical-align: top;
    background-position: top;
}
.background img{
    width:100%;
}
.bakgrundsHållare{
    margin-bottom:1rem;
}
.bakgrundsHållare::after{
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(92, 79, 79, 0), rgb(53, 52, 52), rgb(53, 52, 52), rgb(53, 52, 52));
    bottom:50vh;
    height:50vh;
    width: 100%;
    content: '';
}
/**/

/*GENERELLT*/
header{
    background-color:rgba(241, 238, 238, 0.8);
    position:relative;
    padding-left:5vw;
    display:flex;
    flex-direction: row;
}
header img{
    width:10vw;
}
a{
    color:#dbdb94;
    transition:margin 1s;
}
a:hover{
    color:#dada68;
}
main{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    top:20rem;
}
section{
    border-radius: 1rem;
    text-align:center;
    padding: 10%;
    margin:10%;
    opacity:0;
    transition:opacity 1s, background-color 0.5s;
}
img{
    width:100%;
    height: auto;
}
/**/

/*Standard nav saker*/
nav{
    position: sticky;
    top: 0;
    z-index:10;
    width:100vw;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height:7rem;
}
.navItem{
    position:sticky;
    text-align: center;
    height:5vw;
    padding-top:3%;
    background-image: linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgba(54, 52, 52, 1));
    transition:all 1s;
}
.navItem:hover{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height:13vw;
    padding-top:7%;
    color:white;
    background-image: linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgb(27, 26, 26));
}
.navLista{
    text-align: start;
    opacity:0;
    list-style-position: inside;
    padding-left:3rem;
    animation-name:opacitetNoll;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.navItem:hover .navLista{
    animation-name:opacitetEtt;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.fas{
    font-size: 1.5rem;
    transition: transform 1s;
}
.navItem:hover .navTitel .fas{
    transform:rotate(180deg);
}
.navTitel{
    transition:font-size 1s;
}
        /*Home ska bli större än de andra*/
.navItem:nth-child(1):hover .navTitel{
    font-size: 200%;
}
.navItem:hover .navTitel{
    font-size: 120%;
}
li>a:hover{
    margin-left:1rem;
}
@keyframes opacitetEtt{
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes opacitetNoll{
    0%{opacity:1;}
    90%{opacity:0;font-size: 1rem;}
    100%{font-size: inherit;}
}
/**/


/*FÄRGER FÖR SECTIONS*/
.dark{
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
}
.dark:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
.light{
    background-color: rgba(255, 255, 255, 0.8);
}
.light:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.gray{
    background-color: rgba(169, 169, 169, 0.8);
    color:white;
}
.gray:hover{
    background-color: rgba(169, 169, 169, 0.9);
}
/**/


/*PLACERINGAR OCH DEFINIERINGAR FÖR SECTIONS*/
.left{
    grid-column:1/3;
}
.midLeft{
    grid-column:1/4;
}
.mid{
    grid-column:2/5;
}
.midRight{
    grid-column:3/6;
}
.right{
    grid-column:4/6;
}
.fill{
    grid-column:1/6;
    margin:10% 0;
}
.image{
    padding:3%;
}
.multiple{
    display:grid;
    grid-template-columns: 1fr 2fr;
}
.unsaturate{
    filter:saturate(0);
}
.multiple *{
    padding:5%;
    border-style: solid;
    margin:5%;
}
.multiple img{
    padding:5%;
    border-style: none;
    margin:5%;
}
.row{
    display:flex;
    flex-direction: row;
    align-items: center;
}
/**/


/*FOOTER*/
footer{
    background-image:linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgb(27, 26, 26));
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:1fr;
    color:white;
    padding:1rem;
    font-size: 1.5vw;
    position:relative;
    bottom:0;
    left:0;
    right:0;
}
footer ul{
    list-style-position: inside;
    height:100%;
}
footer #länkRuta{
    margin-right:5%;
    padding-left:5%;
    border-style:dashed;
}
footer a{
    color:#030303;
}
footer img{
    height:100%;
    width:auto;
}
footer #länkRuta ul li{
    display:none;
}
/**/


/*REFERENS TILL LÄDERLAPPEN*/
#referenceWrapper #batmanReference{
    transform:rotate(-20deg);
    /*animation: referensRotation 5s ease-out;
    animation-fill-mode: forwards;*/


    /*animation-name:referensRotation;*/
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

}
#referenceWrapper{
    display:none;
    transform:translateX(300%);
    position:absolute;
    margin:0;
    bottom:-20%;
    /*animation: referensRörelse 5s linear; 
    animation-fill-mode: forwards;*/

    /*animation-name:referensRörelse;*/
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}/* Ska bara triggas när användaren nåt botten av sidan*/
@keyframes referensRörelse{
    0%{transform:    translateX(300%)  translateY(-20%)}
    20%{transform:   translateX(200%)  translateY(-50%)}
    40%{transform:    translateX(150%)  translateY(-70%)}
    60%{transform:   translateX(200%)  translateY(-120%)}
    80%{transform:   translateX(100%)  translateY(-150%)}
    100%{transform:  translateX(-100%) translateY(-700%)}
    
}   
@keyframes referensRotation{
    0%{transform:   rotate(-20deg) }
    20%{transform:  rotate(-20deg) }
    40%{transform:  rotate(20deg)  }
    60%{transform:  rotate(30deg)  }
    80%{transform:  rotate(-10deg) }
    100%{transform: rotate(-40deg) }
}
/**/

/*NAVBAR FÖR MINDRE UPPLÖSNINGAR OCH FOUNDER.HTML*/
.navHållare{
    display:none;
    height:100vh;
    width:fit-content;
    z-index:51;
    position:fixed;
    top:0;
    transition:left 1s;
    font-size:2vw;
    left:100vw;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 8fr;
}
.sekundärNav{
    padding-left:1rem;
    grid-template-columns:1fr;
    grid-column:2;
    grid-row: 1/5;
    height:100%;
    width:100%;
    background-image: linear-gradient(to bottom, rgba(241, 238, 238, 0.9), rgba(54, 52, 52, 1));
}
.sekundärNav img{
    max-width: 18vw;
    width:100%;
    height: auto;
}
.fa-bars{
    font-size: 5vw;
    position:relative;
    left:25%;
    top:20%;
}
.navknappHållare{
    width:100%;
    grid-column: 1;
    grid-row: 3;
    position:relative;
    top:500%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color:rgba(129, 126, 126, 0.877)
}
.navItemTvå{
    grid-column: 1;
    height:100%;
    background-image: none;
    transition:none;
    padding-right:2rem;
    transition-duration: 0s;
}
.navLogga{
    grid-column: 2;
    opacity:0;
    background-image: linear-gradient(to top, rgba(241, 238, 238, 0.8), rgba(54, 52, 52, 1));
    transition: opacity 1s;
}
.navItemTvå:hover{
    height:100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-top:0;

}
.navItemTvå:nth-child(1) .navTitel{
    font-size: 220%;
}
/**/




/*CEO*/

.bredBild{
    width:80%;
}
/**/

/*JOBLISTINGS*/
.joblistings{
    background-color: rgba(102, 116, 243, 0.8);
    list-style-position: inside;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
}
.joblistings li:nth-child(even){
    background-color: rgba(102, 116, 243, 0.4);
}
.joblistings li{
    padding:3rem;
}
.citat{
    font-size: 150%;
}
/**/


/*404*/
.fourOfour{
    color:white;
    font-size: 3rem;
    padding: 10vw;
    width:fit-content;
}
.fourOfour i{
    transition:padding 2s;
}
.fourOfour i:hover{
    padding-left:2rem;
}


@media (max-width:1000px){
    *{
        font-size: 120%;
    }
    header img{
        width:auto;
    }
    .huvudInnehåll::-webkit-scrollbar{
        width:0.6rem;
    }
    .navTitel a{
        color:rgb(35, 49, 245);
    }
    nav{
        display:none;
    }
    .navHållare{
        display:grid;
    }
    .sekundärNav{
        display:grid;
    }
    .navTitel a:hover{
        margin-left: 1rem;
    }
    .navTitel{
        font-size: 3rem;
    }
    .navLista{
        opacity:1;
        list-style: none;
        padding-left: 0;
    }
    .navLista a{
        font-size: 2rem;
    }
    li{
        margin:1rem;
    }
    main{
        top:30rem;
        display:flex;
        flex-direction: column;
    }
    .multiple{
        display:flex;
        flex-direction: column;
    }
    footer{
        font-size: 1rem;
    }
    footer li{
        margin: 0;
        font-size: 70%;;
    }
    footer img{
        width:100%;
        height:auto;
    }
}