*{
    margin:0;
    padding:0;
}
html{
    overflow:hidden;
}
.body::-webkit-scrollbar{
    width:1rem;
}
.body::-webkit-scrollbar-track{
    background: rgb(40,40,40);
}
.body::-webkit-scrollbar-thumb{
    background: white;
    border-radius:0.25rem;
}
.body{
    background-color: rgb(53, 52, 52);
    font-size: 1.8vw;
    /*font-size:2vw;*/
    font-family: 'EB Garamond', serif;
    perspective:1px;
    transform-style:preserve-3d;
    overflow-y: auto;
    overflow-x: hidden;
    width:100vw;
    height:100vh;
    position:relative;
}
h1, h2, h3{
    font-family: 'Bebas Neue', cursive;
}


.background{
    overflow: hidden;
    z-index:-1;
    width:100vw;

    position:absolute;
    transform-style:preserve-3d;
    transform: translateZ(-1px) scale(2);
    box-sizing: border-box;
    vertical-align: top;
    background-position: top;

}
.body #mellan{
    height:120vh;
    top:300%;
    background-image: linear-gradient(to bottom, rgba(92, 79, 79, 0), rgb(53, 52, 52), rgb(53, 52, 52), rgb(53, 52, 52));
    
}



header{
    background-color:rgba(241, 238, 238, 0.8);
    position:relative;
    padding-left:5vw;
    display:flex;
    flex-direction: row;
}

a{
    color:#dbdb94;
    transition:margin 1s;
}
a:hover{
    color:#dada68;
}

/*Standard nav saker*/
nav{
    position: sticky;
    top: 0;
    z-index:10;
    width:100vw;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height:7rem;
}
.navItem{
    position:sticky;
    text-align: center;
    height:5rem;
    padding-top:3%;
    background-image: linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgba(54, 52, 52, 1));
    transition:all 1s;
}
.navItem:hover{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height:12rem;
    padding-top:7%;
    color:white;
    background-image: linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgb(27, 26, 26));
}

.aboutList{
    text-align: start;
    opacity:0;
    font-size: 0.1rem;
    transition: opacity 1s, font-size 1s;
    list-style-position: inside;
    padding-left:3rem;
  
}
.navItem:hover .aboutList{
    opacity:1;
    font-size: inherit;
}
.fas{
    font-size: 1.5rem;
    transition: transform 1s;
}
.navItem:hover .navTitle .fas{
    transform:rotate(180deg);
}
.navTitle{
    font-size:100%;
    transition:font-size 1s;
}
/*Home ska bli större än de andra*/
.navItem:nth-child(1):hover .navTitle{
    font-size: 200%;
}
.navItem:hover .navTitle{
    font-size: 120%;
}

li>a:hover{
    margin-left:1rem;
}
/**/


main{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    top:20rem;
}
section{
    border-radius: 1rem;
    text-align:center;
    padding: 10%;
    margin:10%;
    opacity:0;
    transition:opacity 1s, background-color 0.5s;
    /*-ms-grid-column-span: 2;*/
}


.dark{
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
}
.dark:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
.light{
    background-color: rgba(255, 255, 255, 0.8);
}
.light:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.gray{
    background-color: rgba(169, 169, 169, 0.8);
    color:white;
    /*text-shadow: 2px 2px 2px white;*/
}
.gray:hover{
    background-color: rgba(169, 169, 169, 0.9);
}


.left{
    grid-column:1/3;
}
.midLeft{
    grid-column:1/4;
}
.mid{
    grid-column:2/5;
}
.midRight{
    grid-column:3/6;
}
.right{
    grid-column:4/6;
}
.fill{
    grid-column:1/6;
    margin:10% 0;
}
.image{
    padding:3%;
}
.image img{
    width:100%;
    height:100%;
}
.multiple{
    display:grid;
    grid-template-columns: 1fr 2fr;
}
.unsaturate{
    filter:saturate(0);
}

.multiple *{
    padding:5%;
    border-style: solid;
    margin:5%;
}
.multiple img{
    padding:5%;
    border-style: none;
    margin:5%;
}
.row{
    display:flex;
    flex-direction: row;
    align-items: center;
}





footer{
    background-image:linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgb(27, 26, 26));
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height: 10rem;
    color:white;
    height:fit-content;
    padding:1rem;
    font-size: 1.8vw;
    margin-top: auto;
    position:relative;
    bottom:0;
    left:0;
    right:0;
}


#referenceWrapper #batmanReference{
    transform:rotate(-20deg);
    animation: referensRotation 5s ease-out;
}
#referenceWrapper{
    transform:translateX(300%);
    position:fixed;
    margin:0;
    bottom:-300%;
    animation: referensRörelse 5s linear;
}/* Ska bara triggas när användaren nåt botten av sidan
@keyframes referensRörelse{
    0%{transform:    translateX(300%)  translateY(-20%)}
    20%{transform:   translateX(200%)  translateY(-50%)}
    40%{transform:    translateX(150%)  translateY(-70%)}
    60%{transform:   translateX(200%)  translateY(-120%)}
    80%{transform:   translateX(100%)  translateY(-150%)}
    100%{transform:  translateX(-100%) translateY(-700%)}
    
}   
@keyframes referensRotation{
    0%{transform:   rotate(-20deg) }
    20%{transform:  rotate(-20deg) }
    40%{transform:  rotate(20deg)  }
    60%{transform:  rotate(30deg)  }
    80%{transform:  rotate(-10deg) }
    100%{transform: rotate(-40deg) }
}*/


/*Navbar för mindre upplösningar*/
.navHållare{
    display:none;
    height:100%;
    width:30vw;
    left:95vw;
    z-index:51;
    position:fixed;
    top:0;
    transition:left 1s;
}
.sekundärNav{
    padding-left:1rem;
    grid-template-columns:1fr;
    grid-column:2;
    grid-row: 2/5;
    height:100%;
    width:100%;
    background-image: linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgba(54, 52, 52, 1));
}
.fa-bars{
    font-size: 3vw;
    position:relative;
    left:25%;
    top:10%;
}
.coverUp{
    width:100%;
    grid-column: 1;
    grid-row: 3;
    position:relative;
    right:0;
    top:20%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color:rgba(129, 126, 126, 0.877)
}
.navItemF{
    grid-column: 1;
    height:97%;
    background-image: none;
    transition:none;
    transition-duration: 0s;
}
.navLogga{
    grid-column: 2;
}

.navItemF:hover{
    height:100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-top:0;

}
.navItemF:nth-child(1) .navTitle{
    font-size: 220%;
}
/**/




/*CEO*/
.bruce{
    width:100%;
}

/*Joblistings*/
.joblistings{
    background-color: rgba(102, 116, 243, 0.8);
    list-style-position: inside;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
}
.joblistings li:nth-child(even){
    background-color: rgba(102, 116, 243, 0.4);
}
.joblistings li{
    padding:3rem;
}
.citat{
    font-size: 150%;
}

@media (max-width:1000px){
    *{
        font-size: 90%;
    }
    h1{
        font-size: 100%;
    }
    .body{
        font-size: 4vw;
    }
    .body::-webkit-scrollbar{
        width:0.8rem;
    }
    .body #mellan{
        height:80vh;
        top:180%;
    }
    .navTitle a{
        color:rgb(35, 49, 245);
    }
    .body>nav{
        display:none;
    }


    .navHållare{
        font-size:3vw;
        display:grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr 8fr;
    }
    .navItem:hover .navTitle{
        font-size: 100%;
    }


    header{
        position:static;
        width:100%;
    }
    .aboutList{
        opacity:1;
        font-size: inherit;
    }
    main{
        top:30rem;
        display:flex;
        flex-direction: column;
    }
    .multiple{
        display:flex;
        flex-direction: column;
    }
    footer{
        font-size: 2.5vw;
    }
}