*{
    margin:0;
    padding:0;
}
html{
    overflow:hidden;
}
body::-webkit-scrollbar{
    width:1rem;
}
body::-webkit-scrollbar-track{
    background: rgb(40,40,40);
}
body::-webkit-scrollbar-thumb{
    background: white;
    border-radius:0.25rem;
}
body{
    background-color: rgb(53, 52, 52);
    font-size: 2rem;
    perspective:1px;
    transform-style:preserve-3d;
    overflow-y: auto;
    overflow-x: hidden;
    width:100vw;
    height:100vh;
}
.background{
    z-index:-1;
    width:100vw;
    position:absolute;
    transform-style:preserve-3d;
    transform: translateZ(-1px) scale(2);
    box-sizing: border-box;
    vertical-align: top;
    background-position: top;
}
#andra{
    margin-top:250%;
}
#mellan{
    height:100vh;
    margin-top:160%;
    background-image: linear-gradient(to bottom, rgba(92, 79, 79, 0), rgb(53, 52, 52), rgb(53, 52, 52), rgb(53, 52, 52));

}

a{
    color:#dbdb94;
    transition:margin 1s;
}
a:hover{
    color:#dada68;
}
li>a:hover{
    margin-left:1rem;
}

.fas{
    font-size: 1.5rem;
    transition: transform 1s;
}
header{
    background-color:rgba(241, 238, 238, 0.8);
    position:relative;
    padding-left:5vw;
}

nav{
    position: sticky;
    top: 0;
    z-index:2;
    width:100vw;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height:12rem;
}
.aboutList{
    /*display:none;*/
    text-align: start;
    opacity:0;
    font-size: 0.1rem;
    transition: opacity 1s, font-size 1s;
    list-style-position: inside;
    padding-left:3rem;
    display:block;
}

.navItem{
    position:sticky;
    text-align: center;
    height:5rem;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    padding-top:3%;
    background-image: linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgba(54, 52, 52, 1));
    transition:all 1s;
}
.navItem:hover{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height:12rem;
    padding-top:7%;
    color:white;
    background-image: linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgb(27, 26, 26));
}
.navItem:hover ul{
    opacity:1;
    font-size: inherit;
}
.navItem:hover .aboutTitle .fas{
    transform:rotate(180deg);
}


main{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    top:20rem;
}
.text{
    border-radius: 1rem;
    opacity:0.8;
    text-align:center;
    padding: 10%;
    margin:10%;
    -ms-grid-column-span: 2;
}

.dark{
    background-color:black;
    color:white;
}
.light{
    background-color: white;
}
.gray{
    background-color: darkgray;
    color:white;
    /*text-shadow: 2px 2px 2px white;*/
}


.left{
    grid-column:1/2;
}
.midLeft{
    grid-column:1/3;
}
.mid{
    grid-column:2/4;
}
.midRight{
    grid-column:2/5;
}
.right{
    grid-column:3/5;
}
.fill{
    grid-column:1/5;
}


footer{
    background-image:linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgb(27, 26, 26));
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 10rem;
    color:white;
    padding:1rem;
    font-size: 1.2rem;

    position:absolute;
    margin-bottom:0;
}

@media (max-width:1000px){
    body::-webkit-scrollbar{
        width:0.8rem;
    }
    /*#andra{
        margin-top:150vh;
    }*/
    #mellan{
        height:20vh;
        margin-top:180%;
    }
    nav{
        grid-template-columns:1fr;
        background-image: linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgba(54, 52, 52, 1));
        height:30rem;
    }
    .navItem{
        background-image: none;
        border-top:solid;
        border-color:rgba(15, 15, 15, 0.4);
    }
    main{
        top:30rem;
    }
}