/*STORT*/
body{
    overflow: hidden;
    position:absolute;
    font-size: 1rem;
}
.ikon{
    height:100%;
    width:auto;
    position:fixed;
    left:25%;
}
.background{
    position:fixed;
}
main{
    display:block;
    position: fixed;
}
/**/


/*NAV RELATERAT*/
.navHållare{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 8fr;
}
.navTitel{
    font-size: 3rem;
}
.navTitel a:hover{
    margin-left: 1rem;
}
.navLista{
    opacity:1;
    list-style: none;
    padding-left: 0;
}
.navknappHållare{
    grid-row:1;
    top:0;
}
.fa-bars{
    top:auto;
    left:auto;
    margin:1rem;
}
/**/


/*SLIDES*/
.slide{
    width:100vw;
    text-align: center;
    opacity:1;
    font-size: 2rem;
    height: 100vh;
    position: fixed;
    top:120vh;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transition:top 2s, opacity 3s;
}
/**/


/*SLIDE FÄRGER OCH DEFINIERINGAR*/
.dark{
    background-color: rgba(0, 0, 0, 0.95);
    color:white;
}
.dark:hover{
    background-color: rgba(0, 0, 0, 0.95);
}
.light{
    background-color: rgba(255, 255, 255, 0.95);
}
.light:hover{
    background-color: rgba(255, 255, 255, 0.95);
}
.gray{
    background-color: rgba(169, 169, 169, 0.95);
    color:white;
}
.gray:hover{
    background-color: rgba(169, 169, 169, 0.95);
}
.ett{
    z-index:0;
    top:0;
}
/**/


/*DIVERSE*/
p{
    margin:0;
    padding:auto;
    border-style: solid;
}
img{
    margin: auto;
}
footer p{
    border:none;
}
footer{
    text-align: start;
}
/**/


/*PLACERA INNEHÅLL I SLIDES*/
.topLeft{
    grid-column:1;
    grid-row:1;
}
.midLeft{
    grid-column: 1/3;
    grid-row: 2;
}
.topRight{
    grid-column:3;
    grid-row:1/3;
}
.top{
    grid-row:1;
}
.mid{
    grid-row:2;
}
.bot{
    grid-row:3;
}
.left{
    grid-column:1;
}
.middle{
    grid-column: 2;
}
.right{
    grid-column:3;
}
.ySpan3{
    grid-row: 1/4;
}
.xSpan3{
    grid-column: 1/4;
}
.botLeft{
    grid-column:1;
    grid-row:2/4;
}
.topMid{
    grid-column: 2;
    grid-row: 1/3;
}
.column{
    display:flex;
    flex-direction: column;
}