body{
    overflow: hidden;
    background-color: tomato;
    position:absolute;
    font-size: 2rem;
}


main{
    display:block;
    height:170vh;
    position: fixed;
}
.ikon{
    height:100%;
    position:absolute;
    left:25%;
}

.navHållare{
    display:grid;
    grid-template-rows: 1fr 10fr;
    height:100vh;
    width:20%;
    left:95vw;
    z-index:51;
    top:0;
    position:relative;
    transition:left 1s;
}
nav{
    display:grid;
    padding-left:1rem;
    grid-template-columns:1fr;
    grid-column:2;
    grid-row: 1/3;
    height:100%;
    background-image: linear-gradient(to bottom, rgba(241, 238, 238, 0.8), rgba(54, 52, 52, 1));

}

.fa-bars{
    font-size: 3vw;
    position:relative;
    left:25%;
    top:10%;
}
.coverUp{
    width:5vw;
    grid-column: 1;
    grid-row: 1;
    border-bottom-left-radius: 1rem;
    background-color:rgba(241, 238, 238, 0.8);
}
.navItemF{
    grid-column: 1;
    height:97%;
    position:static;
    background-image: none;
    transition:none;
    transition-duration: 0s;
}

.navItemF:hover{
    height:100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-top:0;

}
.aboutList{
    opacity:1;
    font-size: inherit;
}

.navItem:hover .navTitle{
    font-size: 100%;
}
.navItemF:nth-child(1) .navTitle{
    font-size: 220%;
}

.navTitle a{
    color:rgb(35, 49, 245);
}



article{
    width:100%;
    text-align: center;
    border-radius: 0;
    opacity:1;
}
.slide{
    margin:0;
    height: 100vh;
    position: fixed;
    top:120vh;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transition:top 2s, opacity 3s;
}


.dark{
    background-color: rgba(0, 0, 0, 0.95);
    color:white;
}
.dark:hover{
    background-color: rgba(0, 0, 0, 0.95);
}
.light{
    background-color: rgba(255, 255, 255, 0.95);
}
.light:hover{
    background-color: rgba(255, 255, 255, 0.95);
}
.gray{
    background-color: rgba(169, 169, 169, 0.95);
    color:white;
    /*text-shadow: 2px 2px 2px white;*/
}
.gray:hover{
    background-color: rgba(169, 169, 169, 0.95);
}

.ett{
    z-index:0;
    top:0;
}

p{
    margin:0;
    padding:auto;
    border-style: solid;
}
img{
    margin: auto;
}
footer{
    height:100%;
}


/*Grid placerar klasser*/
.topLeft{
    grid-column:1;
    grid-row:1;
}
.midLeft{
    grid-column: 1/3;
    grid-row: 2;
}
.topRight{
    grid-column:3;
    grid-row:1/3;
}


.top{
    grid-row:1;
}
.mid{
    grid-row:2;
}
.bot{
    grid-row:3;
}
.left{
    grid-column:1;
}
.middle{
    grid-column: 2;
}
.right{
    grid-column:3;
}
.ySpan3{
    grid-row: 1/4;
}
.xSpan3{
    grid-column: 1/4;
}

.botLeft{
    grid-column:1/3;
    grid-row:3;
}
.botRight{
    grid-column:3;
    grid-row:2/4;
}
.topMid{
    grid-column: 2;
    grid-row: 1/3;
}
.column{
    display:flex;
    flex-direction: column;
}




@media (max-width:1000px){
    nav{
        grid-column:2;
        grid-template-columns:1fr;
        height:100vh;
        width:100%;
        position:sticky;
        transition:left 1s;
    }
    nav:hover{
        left:-30vw;
    }
}